<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TransactionPercentageFee" value="1"/>
    <add key="TransactionDateIndex" value="0"/>
    <add key="TransactionMerchantIndex" value="1"/>
    <add key="TransactionElementIndex" value="2"/>
    <add key="TransactionsFile" value=""/>
    <add key="MerchantDiscountIndex" value="0"/>
    <add key="DiscountValueIndex" value="1"/>
    <add key="MerchantsDiscountsFile" value=""/>
  </appSettings>
</configuration>